.main-profile{
    box-shadow: 0 0 10px #cec9c9;;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid black;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.box2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sub-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 /* @media screen and (min-width:320px) and (max-width:576px){
    .box3 .kd:nth-child(1){
        flex-direction: column;
    }
 } */